<div class="container">
  <div class="header">
    <h1> CURRENT BOOKINGS </h1>
  </div>

  <div class="content">
    <div class="booking-info">
      <div class="booking-info-text">
        <% @bookings.all %>
      </div>
      <div class="booking-info-pet">
        <div class="booking-info-pet-name">
        </div>
        <div class="booking-info-pet-photo">
        </div>
      </div>
    </div>

    <div class="booking-info">
      <div class="booking-info-text">
      </div>
      <div class="booking-info-pet">
        <div class="booking-info-pet-name">
        </div>
        <div class="booking-info-pet-photo">
        </div>
      </div>
    </div>
  </div>



</div>
