<div class="image-container">
  <%= image_tag("https://s3-alpha-sig.figma.com/img/2278/e420/0ef3867d3700cd117f074b33aad0781e?Expires=1738540800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=kVqwP8kF8OGDErMbwu59dOfy35kUyqCsA-17y6s~NArF7YWPopMH303PtZRebWg4r92TRMF-Mc8FGR3~N4ktAm93y3e6-3Rpb~4AiMvMyGV26dxafpoLcBj3abd70zOcBzOm7OAk1DxINc3q4gPhZ6~fMNIp8GQ48SOCioKfq3N7htzU8~9i8zprwwbZAPCit33lqdOeVrk-arRVunbK1WDd41w9Vlfrp9p4tD7dutOG1FwZ88tsumpZaXM1Ph2wdFbpco6tbVsEz5If6~~opUs7wi7NrLMCW3dm6CyPhVRe~f4uec5FjqHmRCGMVFkqdCNcDfNSvJwYbHZy1v9nnw__", class: "full-page-image") %>
</div>
