<h1>List of Exotic Pets</h1>

<div class="container">
  <div class="cards">
    <% @exotic_pets.each do |exotic_pet| %>
      <div class="card-trip">
        <%= link_to exotic_pet_path(exotic_pet) do %>
        <%= cl_image_tag exotic_pet.photo.key, class: "card-trip-img"%>
        <% end %>

        <div class="card-trip-infos">
          <div class= "card-recipe-description">
            <h2><%= exotic_pet.name %></h2>
            <p><%= exotic_pet.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
