<h1>List of Exotic Pets</h1>

 <div class="cards" >
    <% @exotic_pets.each do |exotic_pet| %>
      <%= link_to exotic_pet_path(exotic_pet) do %>
      <h6><%= exotic_pet.name %></h6>
       <%= cl_image_tag(exotic_pet.photo.key,width: 400, height: 400) %>


        </div>
      <% end %>
    <% end %>
  </div>
</div>

