body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  color: rgb(0, 0, 0);
  text-align: center;
  display: flex;
  justify-content: space-between;/* Centers items horizontally */
  align-items: center;
  padding: 1rem;
  border-bottom: 1px black solid;
}

.container {
  display: flex;
  gap: 1rem; /* Adds spacing between columns */
}

.column {
  flex: 1; /* Each column takes up equal space */
}

.image-gallery {
  display: flex;
  margin: 1rem 0;
  flex-direction: column;
}

.image-gallery img {
  width: 100%;
  border-radius: 8px;
}

.description {
  text-align: centre;
  margin-left: 1rem;
  margin-top: 1rem;
}

.rating {
  text-align: centre;
  margin-left: 1rem;
  color: gold;
  font-size: 50px;
}

.book-btn {
  background-color: red;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
}

.book-btn:hover {
  background-color: darkred;
}

.reviews {
  background-color: #F4F4F4;
  padding: 1rem;
  margin-top: 1rem;
  border-top: 1px black solid;
}

.review {
  margin-bottom: 1rem;
}
