.column body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.column header {
  color: rgb(0, 0, 0);
  text-align: center;
  display: flex;
  justify-content: space-between;/* Centers items horizontally */
  align-items: center;
  padding: 1rem;
}

.container {
  display: flex;
  gap: 1rem; /* Adds spacing between columns */
}

.show-container {
  display: flex;
  margin-top: 75px;
}


.column {
  column-gap: 1rem; /* Adds spacing between columns */
  margin-left: 60px;
  margin-right: 60px;
}

.image-gallery {
  display: flex;
  margin: 1rem 0;
  flex-direction: column;
}

.image-gallery img {
  border-radius: 8px;
  margin: 10px;
  border: 2px solid black;
  object-fit: fill;
}

.description {
  text-align: centre;
}

.rating {
  text-align: centre;
  margin-left: 1rem;
  color: gold;
  font-size: 50px;
}

// .book-btn {
//   background-color: red;
//   width: 640px;
//   color: white;
//   padding: 0.5rem 1rem;
//   border: none;
//   border-radius: 4px;
//   text-decoration: none;
//   font-size: 20px;
//   display: flex;
//   justify-content: center;
// }

// .review-button {
//   background-color: rgb(0, 13, 255);
//   width: 640px;
//   color: white;
//   padding: 0.5rem 1rem;
//   border: none;
//   border-radius: 4px;
//   text-decoration: none;
//   font-size: 20px;
//   display: flex;
//   justify-content: center;
// }


.book-btn:hover {
  background-color: darkred;
}

.reviews {
  background-color: #F4F4F4;
  padding: 1rem;
  margin-top: 1rem;
}

.review {
  margin-bottom: 1rem;
}

.add-review {
  margin-top: 1rem;
}

.show-body {
  margin-top: 50px;
}
