<footer>
  <div class="footer-content">
    <!-- Social Media Links -->
    <div class="footer-social">
      <ul>
        <li>
          <%= link_to "<i class='fab fa-facebook'></i>".html_safe, "https://facebook.com", target: "_blank" %> |
          <%= link_to "<i class='fab fa-twitter'></i>".html_safe, "https://twitter.com", target: "_blank" %> |
          <%= link_to "<i class='fab fa-youtube'></i>".html_safe, "https://youtube.com", target: "_blank" %>
        </li>
      </ul>
    </div>
  </div>
  <!-- Copyright Section -->
  <div class="footer-bottom">
   @<%= Time.current.year %> Ex-Pets. All rights reserved.
  </div>
</footer>
